
// Colors shamelessly stolen from SSU website
$color-main-theme = #1C4281
$color-light-accent = #C4D6F0
$color-medium-accent = #445B85
$color-dark-accent = #344356

html,
body,
#content,
.ApiClientApp {
    margin:             0;
    padding:            0;
    height:             100%;
}

.Sidebar {
    position:           fixed;
    top:                0;
    left:               0;
    bottom:             0;
    width:              160px;
    height:             100%;
    background:         $color-medium-accent;
    padding:            40px 20px;
    overflow:           auto;
}

.DataTable {
    margin-left:        200px;
    padding:            20px;

    table, th, td {
        border:             1px solid black;
        padding:            10px;
    }

    table {
        border-collapse:    collapse;
    }

    tr:nth-child(even) {
        background:         $color-light-accent;
    }
}
