// Colors shamelessly stolen from SSU website
$color-main-theme = #1C4281
$color-light-accent = #C4D6F0
$color-medium-accent = #445B85
$color-dark-accent = #344356
$color-text-accent = #EEE
$color-text-dark = #000
$color-light-neutral-accent = #DDD
$color-medium-neutral-accent = #AAA
$color-dark-neutral-accent = #888

html,
body,
#content,
.ApiClientApp {
    margin:             0;
    padding:            0;
    height:             100%;
}

.Sidebar {
    position:           fixed;
    top:                0;
    left:               0;
    bottom:             0;
    width:              260px;
    height:             100%;
    background:         $color-medium-accent;
    color:              $color-text-accent;
    padding:            20px;
    overflow:           auto;
}

.Content {
    margin-left:        300px;
    padding:            20px;
}

.DataTabledddddd {

    .table-controls {
        padding:            10px;
    }

    th, td {
        border:             1px solid black;
        padding:            10px 20px;
    }

    table {
        border-collapse:    collapse;
    }

    .reactable-header-sort-desc:after {
        content:            "▲";
    }

    .reactable-header-sort-asc:after {
        content:            "▼";
    }

    .reactable-filter-input {
        width:              100%;
    }

    tr:nth-child(even) {
        background:         $color-light-neutral-accent;
    }

    .per-page-control {
        margin:             10px;
    }

    .per-page-button, .reactable-page-button {
        padding:            5px 10px;
        cursor:             pointer;
    }

    .per-page-button:hover, .reactable-page-button:hover {
        background:         $color-light-accent;
        color:              $color-text-dark;
    }

    .per-page-selected, .reactable-current-page {
        background:         $color-medium-accent;
        color:              $color-text-accent;
    }
}
