// Colors shamelessly stolen from SSU website
$color-main-theme = #1C4281
$color-light-accent = #C4D6F0
$color-medium-accent = #445B85
$color-dark-accent = #344356
$color-text-accent = #EEE
$color-text-dark = #000
$color-light-neutral-accent = #DDD
$color-medium-neutral-accent = #AAA
$color-dark-neutral-accent = #888

html,
body,
#content,
.ApiClientApp {
    margin:             0;
    padding:            0;
    height:             100%;
}

.Sidebar {
    position:           fixed;
    top:                0;
    left:               0;
    bottom:             0;
    width:              260px;
    height:             100%;
    background:         $color-medium-accent;
    color:              $color-text-accent;
    padding:            20px;
    overflow:           auto;

    select {
        color:          black;
    }
}

.Content {
    margin-left:        300px;
    padding:            20px;
}

.DataTable {

    .header-sort-desc:after {
        content:            "▲";
    }

    .header-sort-asc:after {
        content:            "▼";
    }

}
